body {
  background-color: black;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

section {
  margin: 0 5%;
}

h1 {
  color: white;
  text-align: center;
  font-size: 40px;
}

h2 {
  color: white;
  text-align: center;
}

.banner {
  position: relative;
  margin: auto;
}

.banner img {
  width: 90%;
  margin: 0 5%;
}

.summary {
  width: 80%;
  margin: auto;
  display: block;
}

div.tab {
  overflow: hidden;
  padding: 0 10%;
}

div.tab button {
  background-color: inherit;
  float: left;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: white;
  font-size: 20px;
}

div.tab button:hover {
  background-color: #ddd;
}

div.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  color: white;
  padding: 6px 12px;
  border-top: none;
  margin: 0 10%;
}

.tabcontent h3 {
  color: white;
  font-size: 32px;
}

.tabcontent p {
  color: white;
  font-size: 19px;
}


/*YOUTUBE*/

section iframe {
  margin: auto;
  display: block;
}

.houses {
  width: 80%;
  margin: auto;
  display: block;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
}

.houses div {
  width: 50%;
}

.houses h2 {
  color: white;
  font-size: 32px;
}

.houses p {
  color: white;
  font-size: 19px;
  margin: 30px;
}

.cast {
  width: 80%;
  margin: auto;
  display: block;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
}

.cast div {
  width: 33.3%;
  margin: 15px 0px;
  text-align: center;
}

.cast p {
  color: white;
  font-size: 19px;
  margin: 2px;
}

.contato{
  text-align: right;
}


.contato input, textarea {
  width: 80%;
  margin: 10px 10%;
  resize: none;
  font-size: 15px;
  padding: 5px;
}

.contato input {
  height: 30px;
}

.contato button {
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  color: #363636;
  padding: 7px 25px;
  margin: 10px 10%;
}

footer {
  color: white;
  margin: 8% 30px;
  text-align: right;
}


.modal{
  width: 50%;
  border: solid 1px gray;
  position: fixed;
  top: 25%;
  left: 25%;
  background-color: white;
  padding: 3%;
  border-radius: 25px;
  font-size: 23px;
  display: none;
}

.modal button{
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  padding: 7px 25px;
}
