body {
  background-color: black;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

h1 {
  color: white;
  text-align: center;
  font-size: 40px;
}

h2 {
  color: white;
  font-size: 32px;
}

p {
  color: white;
  font-size: 19px;
  margin: 30px;
}

.banner {
  width: 100%;
  margin: auto;
  display: block;
}

.houses {
  width: 80%;
  margin: auto;
  display: block;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
}

.houses div {
  width: 50%;
}

footer {
  color: white;
  margin: 8% 30px;
  text-align: right;
}
